@media screen and (max-width: 768px) {
    .bags-title h3 {
        font-size: 22px;
    }

    .bags-title h5 {
        font-size: 18px;
    }

    .bags-list-wrap {
        p {
            text-align: left;
        }
    }
}

.about-banner {

    margin-bottom: 30px;
}

.about-banner .about-container {
    padding: 0;
}

.about-banner img {
    width: 100%;
    height: 100%;
    max-height: 580px;
}


.about-show-container-Top {
    text-align: center;
}

.about-show-container {
    padding-top: 4%;
    padding-bottom: 20px;
}

.about-show-container-Top .title h3 {
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 2%;
}

.about-show-container-Top .title h3 span {
    color: red;
    letter-spacing: 10px;
}

.about-show-container-Top p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 3%;
}

//主体信息
.main {
    padding-top: 2%;
    padding-bottom: 4%;

    .main-top {
        .main-top-left {
            img {
                width: 100%;
                height: 100%;
            }

            .top-left-left {
                margin-bottom: 20px;
                position: relative;

                .mb-wrap {
                    position: relative;
                    height: 100%;

                    .list-mengban {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        background: rgba(0, 0, 0, 0.5);
                        color: white;
                        opacity: 0;

                        .list-mengban-zi {
                            width: 100px;
                            height: 50px;
                            text-align: center;

                            p {
                                margin-bottom: 0;
                                font-size: 20px;

                            }

                            position: absolute;
                            left: 0;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            margin: auto
                        }
                    }
                }
            }
        }
    }

    //箱包
    .bags-title {
        margin-bottom: 20px;

        h3,
        h5 {
            text-align: center;
            font-weight: bolder;
            color: rgb(118, 7, 0);
        }
    }

    .bags {
        .bags-big-img {
            img {
                width: 100%;
                max-height: 780px;

            }
        }

        .bags-list {
            margin-top: 3%;
            margin-bottom: 30px;

            ul {
                li {
                    margin-bottom: 10px;

                    .bags-list-wrap {
                        border: 1px solid rgb(243, 238, 238);
                        padding: 0px 10px 10px 10px;
                        cursor: pointer;
                        height: 100%;

                        p {
                            font-size: 12px;
                            margin-bottom: 0;

                            span {
                                font-weight: bold;
                                margin-top: 5px;
                            }
                        }
                    }

                    .list-top {
                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .bagsName {
                        min-height: 36px;

                    }
                }

                .bags-list-wrap:hover {
                    box-shadow: 0 0 20px #ccc;
                    transition: 0.2s linear;
                }
            }
        }
    }
}